/* Add a black background color to the top navigation */
* {
  margin: 0;
}

.topnav {
  font-family: 'Montserrat';font-size: 22px;
  background-color: #314652;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px !important;
  text-decoration: none;
  font-size: 17px !important;
}

.submit-btn {
/*  display: inline-block;
  margin-top:2%;
  padding: 2% 5%;
  font-size: 2vh;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #ff9626;
  border: none;
  border-radius: 15px;*/

  display: inline-block;
  margin-left: 30%;
  padding: 5% 10%;
  font-size: 100%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  /*box-shadow: 0 1vh #894a21;*/
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

body {
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    background: #f1f1f1;
}

input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/*.right-panel {
  margin-top: 2%;
  float: right;
  width: 20%;
}
*/
.accessList {
  position: relative;
  width: 100%;
  overflow-y:scroll;
  overflow-x:hidden;
  height:90vh;
}

.square {
  margin-bottom: 3vh;
  /*margin-left: 14vw;*/
  width: calc(200px + 40vw);
  height: 40px;
  border: 2px solid gray;
  padding: 5px;
  text-align: center;
  line-height: 40px;
  border-radius: 3px;
  margin: 0 auto;
}

.square:hover {
  background-color: #D3D3D3;
}

.btn {
  display: inline-block;
  width: calc(40px + 7vw);
  margin-left: 3vw;
  padding-left: 3px;
  padding-right: 3px;
  font-size: calc(8px + 0.5vw);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  /*background-color: #4CAF50;*/
  background-color: #468478;
  border-radius: 5px;
}

.btn:hover {
  background-color: #3e756a
}

.btn:active {
  background-color: #3e756a;
}

.hidden{
  display: none;
}

.search-btn {
  display: inline-block;
  margin-left: 30%;
  padding: 5% 10%;
  font-size: 100%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  /*box-shadow: 0 9px #999;*/
}
.search-btn:hover {
  background-color: #3e8e41
}
.search-btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#remove-search {
    float:right;
    padding:0 10px;
    font-family: "Lucida Sans", "Lucida Sans Unicode",sans-serif;
    font-size:25px; 
}
#remove-search #x {
    color:rgba(162, 192, 214, 0.95);
    cursor:pointer;
    display:none;
}
#remove-search #x:hover {
    color:#36c;
}